<body>
<h1>Login Page</h1>
<div>
    <form method="post" action="/login">
        <h3>Please sign in</h3>
        <p>
            <label for="username">UserName</label>
            <input type="text" id="username" name="username">
        </p>
        <p>
            <label for="password">Password</label>
            <input type="password" id="password" name="password">
        </p>
        <p>
            <label for="remember-me">Remember me?</label>
            <input type="checkbox" id="remember-me" name="remember-me">
        </p>
        <button type="submit">Sign in</button>
    </form>
</div>
</body>
